<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
</head>
<body>
    <div class="nav">
        <div class="leftNav">
            <h1 class="mainTitle">Thomas' Library</h1>
        </div>
        <div class="rightNav">
            <div class="navBtnId" th:text="${user.username}"></div>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout" class="navBtn" ></input>
            </form>
        </div>
    </div>
    <div class="mainDetailContainer">
        <div class="detailLeft">
            <img alt="" class="detailBookImg" src="" th:alt="${boek.naam}" th:src="${boek.imgUrl}">
        </div>
        <div class="detailRight">
            <div class="details">
                <h1 th:text="${boek.naam}"></h1>
                <p class="detailText">Auteurs: <span th:text="${boek.auteursToString()}"></span></p>
                <p class="detailText">ISBN nummer: <span th:text="${boek.isbnNummer}"></span></p>
                <p class="detailText">Prijs: <span th:text="${boek.prijsToString()}"></span></p>
                <p class="detailText">Locatie: <span th:text="${boek.locatiesToString()}"></span></p>
                <div class="detailText">
                    <p class="detail-title">Rating:
                        <span class="star-rating details">
                        <i class="detailText" th:text="${boek.getLikes >= 1 ? '&#9733' : '&#9734'}"></i>
                        <i class="detailText" th:text="${boek.getLikes >= 2 ? '&#9733' : '&#9734'}"></i>
                        <i class="detailText" th:text="${boek.getLikes >= 3 ? '&#9733' : '&#9734'}"></i>
                        <i class="detailText" th:text="${boek.getLikes >= 4 ? '&#9733' : '&#9734'}"></i>
                        <i class="detailText" th:text="${boek.getLikes >= 5 ? '&#9733' : '&#9734'}"></i>
                    </span>
                    </p>

                </div>
            </div>
            <div class="btns">
                <form th:if="${(user.getFavoriteBooksSize < user.maxLikes) || user.isBookFavorited(boek)}" th:action="@{/library/{id}/favoriet(id=${boek.id})}" method="post">
                    <input type="hidden" name="boekId" th:value="${boek.id}" />
                    <button type="submit" class="AddFavo" th:text="${user.isBookFavorited(boek) ? 'Verwijderen uit favorieten' : 'Voeg toe aan favorieten'}"></button>
                </form>
                <button class="GoBackBtn" onclick="window.history.back()">Ga terug</button>
            </div>
        </div>
    </div>
</body>
</html>