<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
</head>
<body>
<div class="mainContainer">
    <div class="nav">
        <div class="leftNav">
            <a class="mainTitle" th:href="library">Thomas' Library</a>
        </div>
        <div class="rightNav">
            <div class="navBtnId" th:text="${user}"></div>
            <form th:action="${pl.changeLocale()}">
                <button type="submit" class="navBtn" th:text="${pl.getLocale().equals('en') ? '&rAarr; NL' : '&rAarr; EN'}"></button>
            </form>

            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout" class="navBtn" >
            </form>
        </div>
    </div>
    <div class="mainPageBtns">
        <a class="mainPageBtn" th:href="@{/library/popularBoeks}">Populaire boeken</a>
        <th:block th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
            <a class="mainPageBtn" th:href="@{/toevoegPage}">Voeg boek toe</a>
        </th:block>

    </div>
    <div class="bookContainer">
        <div class="bookDetailContainer" th:each="boek: ${boeken}">
                <img alt="" class="bookImg" src="" th:alt="${boek.naam}" th:src="${boek.imgUrl}">
                <div class="bookInfo">
                    <h5 class="bookTitle" th:text="${boek.naam}"></h5>
                    <p class="bookAuthors" th:text="${boek.auteursToString()}"></p>
                    <div class="PM"><a class="toDetails" th:href="@{/library/detailPage/{id}(id=${boek.id})}">Details   &rAarr;</a></div>
                </div>
        </div>
    </div>
</div>

</body>
</html>