<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library - Voeg toe</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
</head>
<body>
  <div class="nav">
    <div class="leftNav">
      <a class="mainTitle" th:href="library">Thomas' Library</a>
    </div>
    <div class="rightNav">
      <div class="navBtnId" th:text="${user}"></div>
      <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" class="navBtn" >
      </form>
    </div>
  </div>
  <div class="mainToevoegContainer">
    <div class="AddFormContainer">
      <form class="addForm" method="post" th:action="@{/toevoegPage}" th:object="${boek}" >
        <div class="addGrid">
          <div class="addColl">
            <label class="AddLabel">Naam boek</label>
            <input type="text" class="addInput" placeholder="Kuifje" th:field="*{naam}" required>
            <span th:if="${#fields.hasErrors('naam')}" th:errorclass="error" th:errors="*{naam}"></span>
            <label class="AddLabel">ISBN</label>
            <input type="text" class="addInput" placeholder="9788408191858"  th:field="*{isbnNummer}" required>
            <span th:if="${#fields.hasErrors('isbnNummer')}" th:errorclass="error" th:errors="*{isbnNummer}"></span>
            <label class="AddLabel">Prijs</label>
            <input type="number" step="0.01" class="addInput" placeholder="10,00" th:field="*{prijs}">
            <span th:if="${#fields.hasErrors('prijs')}" th:errorclass="error" th:errors="*{prijs}"></span>
            <label type="text" class="AddLabel">Image Url</label>
            <input type="text" class="addInput" placeholder="https://..." th:field="*{imgUrl}">
          </div>
          <div class="addColl">
            <label class="AddLabel">Auteurs</label>
            <input type="text" class="addInput" placeholder="Hergé" th:field="*{auteurs[0].auteurNaam}">
            <span th:if="${#fields.hasErrors('auteurs[0].auteurNaam')}" th:errorclass="error" th:errors="*{auteurs[0].auteurNaam}"></span>
            <input type="text" class="addInput" placeholder="Hergé" name="auteurs[1].auteurNaam" >
            <input type="text" class="addInput" placeholder="Hergé" name="auteurs[2].auteurNaam" >
          </div>
          <div class="addColl">
            <label class="AddLabel">Locaties</label>
            <span th:if="${#fields.hasErrors('locaties[0].plaatscode1')}" th:errorclass="error" th:errors="*{locaties[0].plaatscode1}"></span>
            <div class="addGrid">
              <input type="number" class="addInputSmall" placeholder="Code1" th:field="*{locaties[0].plaatscode1}" >
              <input type="number" class="addInputSmall" placeholder="Code2" th:field="*{locaties[0].plaatscode2}" >
              <input type="text" class="addInputSmall" placeholder="Naam" th:field="*{locaties[0].plaatsNaam}" >
            </div>
            <div class="addGrid">
              <input type="number" class="addInputSmall" placeholder="Code1" th:field="*{locaties[1].plaatscode1}" >
              <input type="number" class="addInputSmall" placeholder="Code2" th:field="*{locaties[1].plaatscode2}">
              <input type="text" class="addInputSmall" placeholder="Naam" th:field="*{locaties[1].plaatsNaam}">
            </div>
            <div class="addGrid">
              <input type="number" class="addInputSmall" placeholder="Code1" th:field="*{locaties[2].plaatscode1}" >
              <input type="number" class="addInputSmall" placeholder="Code2" th:field="*{locaties[2].plaatscode2}">
              <input type="text" class="addInputSmall" placeholder="Naam" th:field="*{locaties[2].plaatsNaam}">
            </div>
          </div>
        </div>
        <div class="addBtnContainer">
          <input class="addBtn" type="submit" value="Voeg Toe">
        </div>
      </form>
    </div>
  </div>
</body>
</html>